.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
.Python
env/
venv/
ENV/
.venv/
*.pyo
*.pyd
*.pdb
target/
dbt_modules/
logs/
manifest.json
run_results.json
packages.lock
*.duckdb
*.duckdb.wal
.vscode/
.idea/
.env
.env.*
*.dbt-user.yml
profiles.yml
*.xlsx
*.xls
.git
*/dbt_packages
*/package-lock.yml
*/packages.yml
